<% @active_menu = "help" %>

<div class="columns">
  <div class="column content">
    <h1>Intercity Help</h1>
    <hr/>
    <div class="columns">
      <div class="column">
        <%= markdown @help_index %>
      </div>
    </div>
  </div>
</div>
