<% @active_menu = "help" %>

<div class="columns">
  <div class="column is-8 is-offset-2 content">
    <h1>Intercity Help</h1>
    <hr/>
    <section class="help">
      <div class="row">
        <div class="col-md-12">
          <%= markdown @help_index %>
        </div>
      </div>
    </section>
  </div>
</div>
