<% @active_menu = "help" %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Intercity Help</h1>
    <hr/>
    <section class="help">
      <div class="row">
        <div class="col-md-12">
          <%= markdown @markdown %>
        </div>
      </div>
    </section>
  </div>
</div>
