<%= render "servers/heading", server: @server, tab: "services" %>
<div class="services">
  <% @available_services.each_slice(4).each do |service| %>
    <div class="columns">
      <%= render service, server: @server %>
    </div>
  <% end %>
</div>
