<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Please choose a password</h3>
    </div>
    <%= form_for @user, url: user_activation_path(@user.activation_token) do |f| %>
      <div class="panel-body">
        <p>After you've choosen a password your account will be done.</p>
          <%= f.password_field :password %>
      </div>
      <div class="panel-footer">
        <%= f.submit "Finish your account", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
