<%= content_tag :div, id: dom_id(service), class: "service" do %>
  <div class="box">
    <h3 class="subtitle"><%= service.name %></h3>
    <p class="has-text-centered">
      <%= image_tag "services/#{service.name.downcase}.png", width: 100, height: 100 %>
    </p>
    <% if app.service?(service) %>
      <p class="has-text-centered"><span class="tag is-success">Linked</span></p>
    <% else %>
      <p class="has-text-centered"><%= link_to "Link #{service.name}", server_app_service_path(app.server, app, service),
        method: :post, class: "button is-primary" %></p>
    <% end %>
  </div>
<% end %>
