<%= render "apps/heading", app: @app, tab: "services" %>
<% if @app.server.services.empty? %>
  <p>This server does not have any services installed.</p>
  <p><%= link_to "Install a service", server_services_path(@app.server), class: "btn btn-default" %>
<% else %>
  <div class="services">
    <%= render partial: "app_services/service", collection: @app.server.services,
      locals: { app: @app } %>
  </div>
<% end %>

