<%= content_tag :div, id: dom_id(server), class: "server" do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to server.name, server_path(server) %></h3>
    </div>
    <div class="panel-body">
      <p><strong>IP:</strong> <%= server.ip %></p>
      <p><strong>Status:</strong>
      <%= render "status", server: server %>
    </div>
  </div>
<% end %>
