<% if server.up? %>
  <span class="tag is-success">Server is up</span>
<% elsif server.down? %>
  <span class="tag is-danger">Server is down</span>
<% elsif server.fresh? || server.installing? || server.connected? %>
  <span class="tag is-warning">Setup not finished</span>
<% else %>
  <span class="tag">Status unknown</span>
<% end %>
