<% if @server.up? %>
  $("[data-server-status~=checking]").addClass("is-hidden");
  $("[data-server-status~=connected]").removeClass("is-hidden");
<% else %>
  <% for n in 1...@server.install_step %>
    $(".step<%= n %>").removeClass("is-info").addClass("is-success").find(".is-2").html("<%= j icon "check-square-o" %>");
  <% end %>
  $(".step<%= @server.install_step %>").addClass("is-info").find(".is-2").html("<%= j icon "circle-o-notch fa-spin" %>");
  new ServerPoller("<%= check_installation_server_path(@server) %>").poll();
<% end %>
