<h1>Your servers</h1>

<div>
  <p>Below you find a list of all your servers and their status</p>
  <p><span class="label label-success">Server is up</span> We tested the server within the last 30 minutes,
  server was reachable</br/>
  <span class="label label-warning">Setup not finished</span> You did not yet finish the setup process for this server</br>
  <span class="label label-danger">Server is down</span> Server was unreachable in the last 30 minutes.</p>
</div>
<hr/>
<div class="servers">
  <div class="add-server">
    <div class="panel panel-default">
      <%= link_to "#{icon "plus"} New server".html_safe, new_server_path %>
    </div>
  </div>
  <%= render @servers %>
</div>
