<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Add a new user</h3></div>
  <div class="panel-body">
    <%= bootstrap_form_for @user, remote: true do |f| %>
      <%= f.text_field :email, placeholder: "E-mail address", hide_label: true %>
      <%= f.submit "Add", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
