<%= content_tag :tr, id: dom_id(user), class: "user" do %>
  <td><%= user.email %></td>
  <td class="actions is-link">
    <%= link_to "Resend activation mail",
      resend_activation_mail_user_path(user), remote: true, method: :post if user.activation_token.present? %>
  </td>
  <td class="actions is-link is-danger">
    <% if user != current_user %>
      <%= link_to "Remove", user_path(user), remote: true, method: :delete, class: "is-danger", data: { confirm: "Are you sure?" } %>
    <% end %>
  </td>
<% end %>
