<% if @user.persisted? %>
  $('body').find('.users tbody').append("<%= j render "user", user: @user %>")
  $('body').find("[data-role~=form] form").trigger("reset")
  $('body').find("[data-role~=empty-table]").addClass("hidden")
<% else %>
  $('body').find("[data-role~=form]").html("<%= j render "form" %>");
<% end %>
new FormErrorHandler().reset()
new FormErrorHandler().execute()
