<% @active_menu = "users" %>

<h1 class="title">Users</h1>
<div class="columns">
  <div class="column is-8">
    <table class="table is-striped users">
      <thead>
        <tr>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
  <div data-role="form" class="column is-4">
    <%= render "form" %>
  </div>
</div>
