<div class="box">
  <h3 class="title">Add new env var</h3>
  <%= form_for [@app.server, @app, @env_var], remote: true do |f| %>
    <%= f.text_field :key, placeholder: "Key", hide_label: true, class: "input control" %>
    <%= f.text_field :value, placeholder: "Value", hide_label: true, class: "input control" %>
    <%= f.submit "Add", class: "button is-primary" %>
  <% end %>
</div>
