<%= render "apps/heading", app: @app, tab: "env_vars" %>
<div class="columns">
  <div class="column is-8">
    <table class="table is-striped env-vars">
      <thead>
        <tr>
          <th>Key</th>
          <th>Value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @app.env_vars %>
        <tr class="<%= "is-hidden" if @app.env_vars.any? %>" data-role="empty-table">
          <td colspan="3" class="has-text-centered">There are no environment variables</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div data-role="form" class="column is-4">
    <%= render "form" %>
  </div>
</div>
