<%= render "apps/heading", app: @app, tab: "domains" %>
<div class="row">
  <div class="col-md-8">
    <table class="table table-hover domains">
      <thead>
        <tr>
          <th>Domain</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @app.domains %>
        <tr class="<%= "hidden" if @app.domains.any? %>" data-role="empty-table">
          <td colspan="3" class="text-muted text-center">There are no domains</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div data-role="form" class="col-md-4">
    <%= render "form" %>
  </div>
</div>
