<%= content_tag :tr, id: dom_id(integration), class: "integration" do %>
  <td width="20%"><%= integration.name %></td>
  <td><%= link_to "Click to reveal", reveal_integration_path(integration), remote: true, data: { role: "click-to-reveal" } %></td>
  <td class="actions is-link is-danger">
    <%= link_to "Remove", integration_path(integration), remote: true, method: :delete, class: "is-danger", data: { confirm: "Are you sure you want to fully remove this integration?" } %>
  </td>
<% end %>
