<% @active_menu = "integrations" %>

<h1 class="title">Applications</h1>
<div class="columns">
  <div class="column is-8">
    <table class="table is-striped users">
      <thead>
        <tr>
          <th>Name</th>
          <th>Access Token</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div data-role="form" class="column is-4">
  </div>
</div>
