<%= render "servers/heading", server: @server, tab: "apps" %>
<div class="apps">
  <%= render @server.apps.order(created_at: :desc) %>
  <div class="add-app">
    <div class="panel panel-default">
      <%= link_to "#{icon "plus"} New app".html_safe, new_server_app_path(@server) %>
    </div>
  </div>
</div>
