<div class="columns">
  <div class="column is-6 is-offset-3">
    <div class="content box">
      <h3>Welcome to Intercity</h3>
      <%= form_for @user, url: welcome_path do |f| %>
        <p>Since this is the first time you start the app,
        we ask you to create the first user account.
        After you have created your account, this page will be gone</p>

        <label class="label">Email</label>
        <div class="control">
          <%= f.text_field :email, class: "input", placeholder: "Email",
            data: { error: @user.errors[:email].first } %>
        </div>
        <div class="control">
          <%= f.password_field :password, class: "input", placeholder: "Password",
            data: { error: @user.errors[:password].first } %>
        </div>
        <%= f.submit "Create first account", class: "button is-primary" %>
      <% end %>
    </div>
  </div>
</div>
