.navbar {
  border-radius: 0px;
  .avatar {
    padding-top: 10px;
  }
}

.heading {
  margin-bottom: 20px;
}

table {
  .actions {
    white-space: nowrap;
    width: 1%
  }
}

.header_section {
  @extend .section;
  padding: 0px;
}
