.navbar {
  border-radius: 0px;
  .avatar {
    padding-top: 10px;
  }
}

.heading {
  margin-bottom: 20px;
}

table {
  .actions {
    white-space: nowrap;
    width: 1%
  }
}

.header_section {
  @extend .section;
  padding-top: 0px;
  padding-bottom: 0px;
}

blockquote.border {
  border-top: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
}
