.services {
  margin-top: 20px;
  @extend .row;

  .service {
    @extend .col-md-3;
    .panel {
      min-height: 235px;
      position: relative;
      &.service-new {
        @extend .panel-default;
      }
      &.service-installing {
        @extend .panel-warning;
      }
      &.service-installed {
        @extend .panel-success;
      }
      .panel-body {
        text-align: center;
      }

      .panel-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    }
  }
}
