.services {
  margin-top: 20px;
  .service {
    @extend .column;
    @extend .is-3;
    .panel {
      min-height: 235px;
      position: relative;
      &.service-new {
        @extend .panel;
      }
      &.service-installing {
        @extend .panel;
      }
      &.service-installed {
        @extend .panel;
      }
      .panel-body {
        text-align: center;
      }

      .panel-footer {
        position: absolute;
        width: 100%;
        bottom: 0;
      }
    }
  }
}
