@charset "utf-8";

@import "variables";
@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "layout";
@import "login";
@import "servers";
@import "apps";
@import "services";
@import "help";
@import "highlight/github.min";

html {
  width: 100%;
  height: 100%;
  body {
    min-height: 100%;
    background: #fff;
  }
}
